@charset "UTF-8";

body #heroslides {
	opacity: 1;
	transition: opacity ease-in-out 300ms;
}
body.t-80 #heroslides, body.t-80 #hero_promo {
	opacity: 0.4
}
body.t-180 #heroslides, body.t-180 #hero_promo {
	opacity: 0.2
}

.hero {
	position: relative;
	width:100%;
	height:560px;
	margin:0;
	padding:0
	}

.heroslides {
	position: fixed;
	top: 0;
	right: 0; 
	bottom:0;
	z-index: 0;
	background-position: center;
	width: 106% !important;
	left: -3% !important;
}

.hero div.words {
	position:absolute;
	bottom:40%;
	left:0;
	right:0;
	z-index:2;
}

.hero div.words h1 {
	color:#ffffff;
	text-transform:uppercase;
	font-size:86px;
	font-weight:900;
	line-height:90px;
	margin:0; 
	padding:0;
	text-shadow:-1px 1px 1px rgba(19,25,33,0.2);}
	
.hero div.words.active-words h1 {	
	-webkit-animation: reverse_move 1s ease, fadeIn 1s;
	-ms-animation: reverse_move 1s ease, fadeIn 1s;
	-moz-animation:  reverse_move 1s ease, fadeIn 1s;
	-o-animation: reverse_move 1s ease, fadeIn 1s;
	animation:  reverse_move 1s ease, fadeIn 1s;}
	
.hero div.words h2 {
	color:#ffffff;
	font-size:46px;
	line-height:50px;
	margin:0; 
	padding:0;
	font-weight:300;
	text-shadow:-1px 1px 1px rgba(19,25,33,0.2);}
	
.hero div.words.active-words h2 {	
	-webkit-animation: move 1s ease, fadeIn 1s;
	-ms-animation: move 1s ease, fadeIn 1s;
	-moz-animation: move 1s ease, fadeIn 1s;
	-o-animation: move 1s ease, fadeIn 1s;
	animation: move 1s ease, fadeIn 1s;}

.heroslides_controlls {
    position: absolute;
    bottom: 40px;
    right:  40px;
    width: 122px;
    z-index: 900;
}
.heroslides_controlls div {
    display: block;
    height: 60px;
    width: 60px;
    margin-bottom: 2px;
    background-color: rgba(49, 65, 82, 1);
    opacity: 0.8;
    cursor: pointer; float:right;
	margin-right:1px;
}
.heroslides_controlls div:hover {
    opacity: 1;
    background-color: rgba(49, 65, 82, 1);
}

.heroslides_controlls div span {
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;}

.sm_heroslides_controlls {
    position: absolute;
    right:  15px;
	bottom: 0px;
	left: auto;
    z-index: 900;}
.sm_heroslides_controlls .listing_prev {
	visibility: hidden;	}
@media (min-width: 480px){

.sm_heroslides_controlls {
    position: absolute;
    right:  0px;
	bottom: 40px;
	left: 0px;
    z-index: 900;}
.sm_heroslides_controlls .listing_prev {
	visibility: visible;	}
}
.sm_heroslides_controlls div, .sm_heroslides_controlls div span {
    height: 40px;
    width: 40px;
    font-size: 26px;
    line-height: 40px;
}
.sm_heroslides_controlls div.listing_next,.sm_heroslides_controlls div.listing_prev {
    height: 40px;
    width: 40px;
	background-color:rgba(19,25,33,1);
}
 .sm_heroslides_controlls div span:hover {
	 box-shadow: 0 0 6px rgba(19,25,33,0.5);} 

.motion {
	top: 0;
	left: -3%;
	width: 106%;
	height: 560px;
	-webkit-animation: move 8s ease infinite;
	-ms-animation: move 8s ease infinite;
	-moz-animation: move 8s ease infinite;
	-o-animation: move 8s ease infinite;
	animation: move 8s ease infinite;
}

 @-webkit-keyframes fadeIn {
	 0% { opacity: 0;}
	 20% { opacity: 0;}
	 40% { opacity: 0.3;}
	 60% { opacity: 0.5;}
	 80% { opacity: 0.9;}
	 100% { opacity: 1;}
}
 @keyframes fadeIn {
	 0% { opacity: 0;}
	 20% { opacity: 0;}
	 40% { opacity: 0.3;}
	 60% { opacity: 0.5;}
	 80% { opacity: 0.9;}
	 100% { opacity: 1;}
}

@-moz-keyframes move {
	from {
		-moz-transform: translate(-3%, 0);
		-moz-transform: translate3d(-3%, 0, 0);
	}
	to {
		-moz-transform: translate(0%, 0);
		-moz-transform: translate3d(0%, 0, 0);
	}
}
@-webkit-keyframes move {
	from {
		-webkit-transform: translate(-3%, 0);
		-webkit-transform: translate3d(-3%, 0, 0);
	}
	to {
		-webkit-transform: translate(0%, 0);
		-webkit-transform: translate3d(0%, 0, 0);
	}
}
@keyframes move {
	from {
		transform: translate(-3%, 0);
		transform: translate3d(-3%, 0, 0);
	}
	to {
		transform: translate(0%, 0);
		transform: translate3d(0%, 0, 0);
	}
}


.reverse.motion {
	top: 0;
	left: 3%;
	width: 106%;
	height: 560px;
	-webkit-animation: reverse_move 8s ease infinite;
	-ms-animation: reverse_move 8s ease infinite;
	-moz-animation: reverse_move 8s ease infinite;
	-o-animation: reverse_move 8s ease infinite;
	animation: reverse_move 8s ease infinite;
}
@-moz-keyframes reverse_move {
	from {
		-moz-transform: translate(3%, 0);
		-moz-transform: translate3d(3%, 0, 0);
	}
	to {
		-moz-transform: translate(0%, 0);
		-moz-transform: translate3d(0%, 0, 0);
	}
}
@-webkit-keyframes reverse_move {
	from {
		-webkit-transform: translate(3%, 0);
		-webkit-transform: translate3d(3%, 0, 0);
	}
	to {
		-webkit-transform: translate(0%, 0);
		-webkit-transform: translate3d(0%, 0, 0);
	}
}
@keyframes reverse_move {
	from {
		transform: translate(3%, 0);
		transform: translate3d(3%, 0, 0);
	}
	to {
		transform: translate(0%, 0);
		transform: translate3d(0%, 0, 0);
	}
}


.vert.motion {
	top: 0;
	left: 0;
	width: 100%;
	height: 780px;
	-webkit-animation: vert_move 8s ease infinite;
	-ms-animation: vert_move 8s ease infinite;
	-moz-animation: vert_move 8s ease infinite;
	-o-animation: vert_move 8s ease infinite;
	animation: vert_move 8s ease infinite;
}

@-moz-keyframes vert_move {
	from {
		-moz-transform: translate(0, 0);
		-moz-transform: translate3d(0, 0, 0);
	}
	to {
		-moz-transform: translate(0, -60px);
		-moz-transform: translate3d(0, -60px, 0);
	}
}
@-webkit-keyframes vert_move {
	from {
		-webkit-transform: translate(0, 0);
		-webkit-transform: translate3d(0, 0, 0);
	}
	to {
		-webkit-transform: translate(0, -60px);
		-webkit-transform: translate3d(0, -60px, 0);
	}
}
@keyframes vert_move {
	from {
		transform: translate(0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate(0, -60px);
		transform: translate3d(0, -60px, 0);
	}
}
