//colors
$white: rgb(255, 255, 255);
$color_1: rgba(0, 0, 20, 0.1);
$color_2: rgb(19, 25, 33);
$color_3: rgba(19, 25, 33, 0.9);
$color_4: rgba(19, 25, 33, 0.4);
$enq_red: rgb(255, 25, 33);
$color_6: rgb(217, 218, 215);
$color_7: rgba(217, 218, 215, 0.5);
$color_8: rgba(217, 218, 215, 0.3);
$enq_red: rgb(230, 16, 67);
$color_10: rgb(62, 74, 97);
$color_11: rgb(26, 38, 57);
$color_12: rgba(119, 125, 133, 0.3);
$color_13: rgba(19, 25, 33, 0.8);
$color_14: rgba(0, 0, 0, 0.6);
$color_15: rgba(26, 38, 57, 0.57);
$color_16: rgb(204, 204, 204);
$color_17: rgba(0, 0, 0, 0.9);
$color_18: rgba(125, 125, 125, 0.5);
$color_19: rgba(255, 255, 255, 0.7);
$color_20: rgb(39, 114, 56);
$color_21: rgba(255, 255, 255, 0.1);
$color_22: rgb(225, 225, 225);
$color_23: rgba(225, 225, 225, 0.5);

//fonts
$font_0: 'Glyphicons Regular';

//urls
$url_0: url('../images/feature.jpg');

//@extend-elements
//original selectors
//#stage nav a, #stage nav li
%extend_1 {
	color: $white;
	font-weight: 700;
	text-transform: uppercase;
	height: 34px;
	line-height: 32px;
	margin-top: 12px;
	padding: 0;
	min-width: 120px;
	text-align: center;
}

//original selectors
//#message, #sky_form_message
%extend_2 {
	display: none;
	margin-top: 0;
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-top: 2em;
	padding-bottom: 2em;
}

//original selectors
//.mapcanvas, .ev_expanded div.slide_item.mapslide .mapcanvas
%extend_3 {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

//original selectors
//.ev_close, .ev_toggle
%extend_4 {
	position: absolute;
	top: -10px;
	right: 20px;
	height: 40px;
	width: 40px;
	background-color: $color_2;
	color: $white;
	cursor: pointer;
	z-index: 999;
	display: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 40px;
	text-align: center;
	line-height: 40px;
}

//original selectors
//.mapcanvas, .ev_expanded div.slide_item.mapslide .mapcanvas
%extend_5 {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}


@charset "UTF-8";
body {
	background-color: $color_2;
}
h1 {
	font-weight: 300;
	strong {
		font-weight: 400;
	}
}
h2 {
	font-weight: 300;
	strong {
		font-weight: 400;
	}
}
h3 {
	font-weight: 400;
}
h4 {
	font-weight: 400;
}
h5 {
	font-weight: 400;
}
.lead {
	font-weight: 400;
}
.listing-row {
	position: relative;
}
.white {
	color: $white;
}
.col-flat {
	color: $color_6;
}
.col-flat-bg {
	background-color: $color_6;
}
.col-flat-bg-50 {
	background-color: $color_7;
}
.col-flat-bg-30 {
	background-color: $color_8;
}
.col-enq {
	color: $enq_red;
}
.col-enq-bg {
	background-color: $enq_red;
}
.col-smoke {
	color: $color_10;
}
.col-smoke-bg {
	background-color: $color_10;
}
.col-steel {
	color: $color_11;
}
.col-steel-bg {
	background-color: $color_11;
}
.btn {
	background-color: transparent;
	border: 1px solid $white;
	color: $white;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	font-weight: 400;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 100ms ease-out;
	&:hover {
		background-color: $white;
	}
	&.enq_this {
		display: block;
		width: 100%;
		margin-top: 15px;
	}
	span.glyphicons {
		padding-left: 10px;
	}
}
.btn-rounded {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 60px;
	padding-left: 20px;
	padding-right: 20px;
}
.button-row {
	margin-top: 10px;
	.btn {
		margin-bottom: 0.6em;
	}
	li.icons {
		margin-bottom: 0.6em;
	}
}
.btn-solid {
	background-color: $white;
	&:hover {
		background-color: transparent;
	}
}
.btn-flat {
	color: $color_6;
	border-color: $color_6;
}
.btn-enq {
	color: $enq_red;
	border-color: $enq_red;
}
.btn-smoke {
	color: $color_10;
	border-color: $color_10;
}
.btn-steel {
	color: $color_11;
	border-color: $color_11;
}
.btn-solid-flat {
	background-color: $color_6;
	border-color: $color_6;
	color: $color_11;
}
.btn-solid-enq {
	background-color: $enq_red;
	border-color: $enq_red;
	color: $white;
	&:hover {
		background-color: $white;
		border-color: $enq_red;
		color: $enq_red;
	}
}
.btn-solid-smoke {
	background-color: $color_10;
	border-color: $color_10;
	color: $white;
}
.btn-solid-steel {
	background-color: $color_11;
	border-color: $color_11;
	color: $white;
}
#stage {
	position: relative;
	width: 100%;
	height: 0;
	margin: 0;
	padding: 0;
	nav {
		background: $color_3;
		height: 70px;
		a {
			@extend %extend_1;
		}
		li {
			@extend %extend_1;
		}
		.navbar-header {
			width: 100%;
		}
		.go_enquire {
			position: absolute;
			right: 10px;
			top: 6px;
		}
		img.logo {
			max-height: 60px;
			width: auto;
			margin: 10px 0 0 10px;
		}
	}
}
@media(min-width:768px) {
	#stage nav .go_enquire {
		position: relative;
		right: auto;
		float: right;
		margin-top: 16px;
	}
}
#page {
	position: relative;
	background-color: $white;
}
.pricey {
	display: inline-block;
	padding: 0 10px 0 0;
	margin: 0 0 12px 0;
	line-height: 1em;
	font-size: 1.6em;
	font-weight: 400;
	span {
		margin-top: 0;
		font-size: 0.82em;
		line-height: 1.5em;
		vertical-align: text-top;
	}
}
#listings {
	padding-top: 15px;
	margin-bottom: 0;
	overflow: hidden;
}
.listing {
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 30px;
	padding-top: 00px;
	border: 1px solid transparent;
	border-bottom: 1px solid $color_12;
}
#contact {
	background: $color_3;
	color: $white;
	padding-top: 00px;
}
.phone-box {
	margin-top: 0;
	margin-bottom: 0;
	background-color: $color_13;
	padding-top: 15px;
	padding-bottom: 15px;
}
#statement {
	background-color: $white;
	padding-top: 80px;
	margin-bottom: 20px;
	p {
		font-weight: 300;
		font-size: 22px;
		line-height: 1.6em;
	}
}
@media(min-width:480px) {
	.pricey {
		margin: 0;
		float: right;
		margin: 0;
		float: right;
	}
	#listings {
		padding-top: 40px;
		margin-bottom: 0;
	}
	.listing {
		margin-top: 0;
		margin-bottom: 40px;
		padding-bottom: 50px;
		padding-top: 20px;
	}
	#contact {
		padding-top: 60px;
	}
	.phone-box {
		margin-top: -10px;
		margin-bottom: 80px;
		padding: 30px;
	}
	#statement {
		margin-bottom: 80px;
	}
	.sold_flag {
		font-size: 42px;
		line-height: 60px;
		vertical-align: middle;
		padding-top: 0;
		left: -20px;
		top: -30px;
		height: 60px;
		width: 200px;
		color: $white;
		z-index: 999;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 10px 10px 0 $color_1;
		overflow: hidden;
	}
	.btn.enq_this {
		display: inline-block;
		width: auto;
		margin-top: 0;
	}
}
.disclaim {
	position: absolute;
	bottom: 6px;
	left: 6px;
	background-color: $color_14;
	color: $white;
	padding: 3px 8px;
	font-size: 12px;
}
.flag {
	position: absolute;
	top: -51px;
	right: 0;
	height: 60px;
	width: 40px;
	color: $white;
	font-size: 20px;
	text-align: center;
	vertical-align: bottom;
	padding-top: 30px;
	line-height: 60px;
}
.sold_flag {
	font-weight: 900;
	right: auto;
	left: 5px;
	top: -20px;
	vertical-align: middle;
	color: $white;
	z-index: 999;
	font-size: 32px;
	line-height: 40px;
	padding-top: 0;
	height: 40px;
	width: 110px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 10px 5px 0 $color_1;
	overflow: hidden;
	background-color: $color_15;
}
#feature {
	margin-top: 0;
	position: relative;
	background-image: $url_0;
	background-size: cover;
	min-height: 300px;
	color: $white;
	padding-top: 100px;
	h1 {
		font-size: 42px;
	}
}
#sky_form_message {
	display: none;
	@extend %extend_2;
}
div {
	&.input-group {
		border: 1px solid $color_16;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		background-color: $white;
	}
	&.mapslide {
		width: 100%;
		height: 100%;
	}
}
.form-control {
	display: block;
	width: 100%;
	height: 40px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 8px;
	background-color: $white;
	padding: 8px 1em;
	font-size: 14px;
	line-height: 24px;
	color: $color_17;
	background-image: none;
	border: none;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	.btn-CTA {
		font-size: 18px;
	}
}
.input-group-addon {
	padding: 6px 12px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	color: $color_18;
	text-align: center;
	background-image: none;
	border: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 8px;
	background-color: $white;
}
.input-group-addon::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 16px;
	background-color: $color_18;
	top: 12px;
	left: 41px;
}
#message {
	@extend %extend_2;
}
.important_check {
	display: none;
}
.thinform {
}
.invite-text {
	margin-top: 0;
	margin-bottom: 1em;
}
.ev_expanded {
	div {
		&.mapslide {
			width: 100%;
			height: 100%;
		}
		&.slide_item {
			width: 100%;
			height: auto;
			img {
				width: 100%;
				height: auto;
			}
			&.mapslide .mapcanvas {
				@extend %extend_3;
			}
		}
	}
	img {
		width: 100%;
		height: auto;
	}
}
.mapcanvas {
	@extend %extend_3;
}
.ev_close {
	display: none;
}
.ev_toggle {
	display: none;
}
.slideCount {
	display: none;
}
footer {
	background-color: $white;
	margin-top: 0;
	a {
		text-decoration: underline;
	}
	h1 {
		font-size: 28px;
		line-height: 1.4em;
	}
	h3 {
		line-height: 1.4em;
	}
	> .container {
		padding-top: 60px;
		padding-bottom: 40px;
	}
}
#heroslides {
	display: none;
}
#heroslides_controlls {
	display: none;
}
.slide_item {
	position: relative;
	width: 100%;
	height: auto;
	max-height: 700px;
	max-width: 1167px;
	img.img-responsive {
		width: 100% !important;
		height: auto !important;
		min-width: auto !important;
	}
}
.expand_view {
	position: relative;
	&.ev_expanded {
		width: 100%;
		padding: 0 0 0 0 !important;
	}
}
@media(min-width: 480px) {
	#heroslides {
		display: block;
	}
	#heroslides_controlls {
		display: block;
	}
	#stage {
		position: relative;
		width: 100%;
		height: 560px;
		margin: 0;
		padding: 0;
		nav {
			height: 200px;
			border: none;
			background: linear-gradient(to bottom, $color_2 0,rgba(19,25,33,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131921', endColorstr='#00131921',GradientType=0 );
		}
	}
	body.t-180 #stage nav {
		background: $color_3;
		height: 70px;
	}
}
@media(min-width: 768px) {
	#stage nav li .go_enquire {
		margin-left: 30px;
	}
}
@media(min-width: 992px) {
    
    //original selectors
    //.ev_close, .ev_toggle
    %extend_9a {
        position: absolute;
        top: -10px;
        right: 20px;
        height: 40px;
        width: 40px;
        background-color: $color_2;
        color: $white;
        cursor: pointer;
        z-index: 999;
        display: none;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 40px;
        text-align: center;
        line-height: 40px;
    }
    
    %extend_9b {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }
    
	.ev_close {
		@extend %extend_9a;
	}
	.ev_toggle {
		@extend %extend_9a;
		display: block;
		&:hover {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 0 6px $color_4;
			background-color: $enq_red;
		}
		&.ev_button_expanded::after {
			content: '\e208';
		}
	}
	.ev_toggle::after {
		content: '\E028';
		display: inline-block;
		font-family: $font_0;
		font-style: normal;
		font-weight: normal;
		line-height: 40px;
		vertical-align: top;
		color: $white;
		font-size: 22px;
	}
	.ev_button_expanded {
		background-color: $enq_red;
		right: -14px;
	}
	.mapcanvas {
		@extend %extend_9b;
	}
	.ev_expanded div {
		&.mapslide {
			width: 100%;
			height: 100%;
		}
		&.slide_item.mapslide .mapcanvas {
			@extend %extend_9b;
		}
	}
	div.mapslide {
		width: 100%;
		height: 100%;
	}
	.listing .images {
		padding: 0 30px 0 0;
	}
}
form.thinform {
	.form-control {
		display: block;
		width: 100%;
		height: 80px;
		background-color: rgba(255,255,255,0);
		padding: 8px 1em;
		font-size: 24px;
		line-height: 44px;
		color: $white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
	}
	.input-group-addon {
		font-size: 28px;
		color: $color_22;
		background-color: rgba(255,255,255,0);
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		padding: 6px 20px;
		text-align: center;
	}
	.input-group-addon::after {
		content: '';
		position: absolute;
		width: 1px;
		height: 16px;
		background-color: $color_23;
		top: 32px;
		left: 68px;
	}
	.btn-solid-enq:hover {
		background-color: $enq_red;
		border-color: $enq_red;
		color: $white;
	}
	div.input-group {
		border: none;
		border-bottom: 1px solid $white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		background-color: $color_21;
		color: $white;
		font-weight: 100;
		font-style: italic;
	}
}
ol.info-icon {
	margin: 0;
	padding: 0;
	display: inline-block;
}
li.icons {
	list-style: none;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	margin: 0 6px 0 0;
	padding: 4px 0 0;
	height: 32px;
	width: 52px;
	text-align: center;
	line-height: 26px;
	color: $white;
	background-color: $color_2;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
}
fieldset.optional {
	.input-group-addon {
		background-color: $color_20;
	}
	input.form-control {
		background-color: $color_19;
	}
}